@mixin SairaFontFamily {
  @font-face {
    font-family: Saira;
    src: url(../../asset/saira-cufonfonts/Saira-Medium.ttf);
  }
}
@mixin navitemsStyle {
  @for $i from 1 through 5 {
    .navitem#{$i} {
      background-color: $itemBackgroundColor;
      min-width: 1rem;
      min-height: 1rem;
      flex-shrink: 0;
      fill: #005354;
      background: url(../../asset/image/logo/v#{$i}.png) no-repeat center;
      margin: 0.5rem auto 0.25rem auto;
      // top right bottom left
    }
    .navitemText#{$i} {
      color: #005354;
      font-family: Saira;
      font-size: 0.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }
}

@mixin insideBorder {
  &:nth-child(3n - 2),
  &:nth-child(3n - 1) {
    &::after {
      content: "";
      position: absolute;
      border-right: 0.5px solid $bodyBackgroundColor;
      right: -2.5rem;
      height: 2rem;
      transform: translateY(40%);
      -webkit-transform: translateY(40%);
      -moz-transform: translateY(40%);
      -ms-transform: translateY(40%);
      -o-transform: translateY(40%);
    }
  }
  &:nth-child(3n) {
    &::after {
      content: "";
      position: absolute;
      border-top: 0.5px solid $bodyBackgroundColor;
      left: 0;
      top: 2px;
      height: 105%;
      //height: 0;
      width: 340%;
      transform: translateY(0);
      transform: translateX(-68%);
      -webkit-transform: translateX(-68%);
      -moz-transform: translateX(-68%);
      -ms-transform: translateX(-68%);
      -o-transform: translateX(-68%);
    }
  }

  &:last-child {
    &::after {
      content: "";
      position: absolute;
      border-bottom: 0.5px solid $bodyBackgroundColor;
      left: 0;
      top: 0px;
      height: 100%;
      //height: 0;
      width: 340%;
      //transform: translateY(0%);
      transform: translateX(-53%);
      -webkit-transform: translateX(-53%);
      -moz-transform: translateX(-53%);
      -ms-transform: translateX(-53%);
      -o-transform: translateX(-53%);
    }
  }

  &:nth-child(14),
  &:nth-child(15) {
    margin-left: -2rem;
    &::after {
      border-right: none;
    }
  }
  &:nth-child(15) {
    margin-left: -4rem;
  }
  &:nth-child(13) {
    &::after {
      border-right: none;
    }
  }
}
