$bodyBackgroundColor: #bed9dd;
$itemBackgroundColor: #deebec;
$textGold: #b19149;
$textGreen: #005354;
$mobileWidth: 425px;
$tabletWidth: 768px;
$desktopWidth: 1024px;
$transition: all 0.3s ease;
$itemNumber: (2, 3, 5, 6, 8, 9, 10, 11, 12);
